@import "main.css";
@import "medium.css";

@media screen and (min-device-width: 1000px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 7.594rem;
  }

  h2 {
    font-size: 5.063rem;
  }

  h3 {
    font-size: 3.375rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  a {
    font-size: 1rem;
  }

  .active::after {
    left: 50%;
    transform: translate(-50%, -50%);
    writing-mode: horizontal-tb;
    font-size: calc(100vw / 4);
  }

  .grid {
    grid-gap: 5rem;
  }

  .grid:nth-of-type(odd) .grid__imagewrapper {
    grid-column: 2 / 3;
    grid-row-start: 1;
  }

  .grid__text {
    text-align: left;
    height: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }

  .grid:nth-of-type(odd) .grid__text {
    grid-column: 1 / 2;
    grid-row-start: 1;
  }

  .grid__title {
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 1rem 0;
    justify-content: flex-start;
  }

  .flex {
    padding: 120px 15vw;
    background-image: url(../img/section3-bg--large.jpg);
  }
}
